<!-- views/partials/footer.ejs -->

<footer>

    <div class="grid-container-full">
        <div class="footer1">
            <h5>
                @ 2019 Hotel Overlook. Alle rettigheder forbeholdt.
            </h5> 
        </div>
        <div class="footer2"> 
            <div id="social">
                <a class="facebook-button social-button" href="#" ></a>
                <a class="twitter-button social-button" href="#" ></a>
              </div>
        </div>
        <div class="footer3">
         <h5>
            <li><a href="#">Hoteller og destinationer</a></li>
            <li><a href="#">Værelser</a></li>
            <li><a href="#">Reservation</a></li>
            <li><a href="#">Om Overlook</a></li>
         </h5>
        </div>
    </div>

</footer>

</body>
</html>