/*BLOCKS START*/
.admin1{
    grid-column: 1 / 13;
    grid-row: 1;
    img{
        object-fit: cover;
        width: 100%;
        max-height: 30vw;
    }
  }

.admin2{
    grid-column: 1 / 10;
    grid-row: 2;
    h2{
        margin-bottom: calc(5vw - 25*((100vw - 320px) / 680));
    }
    h5{
        width: 95%;
        color: #7D7D7D;
        padding-bottom: 1vw;
        margin-top: 1vw;
    }
    .border-bottom{
      border-bottom: dashed #ADADAD;
    }
  }

.admin3{
    grid-column: 10 / 13;
    grid-row: 2;
    border-left: solid #ADADAD;
    h4{
      margin: 2vw 0 0 2vw;
      font-size: calc(11px + 1*((100vw - 320px) / 680));
      line-height: calc(24px + 1*((100vw - 320px) / 680));
      .bold{
        font-weight: 900;
        color: black;
        font-size: calc(14px + 1*((100vw - 320px) / 680));
        padding-bottom: 1vw;
      }
    }
  }

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 95%;
  margin: 1vw 1vw 2vw 0;
  background-color: white;
  padding: 1vw;
}

.bestilling1{
    grid-column: 1 / 5;
    grid-row: 1;
    h5{
        color: #7D7D7D;
    }
}

.bestilling2{
    grid-column: 5 / 8;
    grid-row: 1;
    h5{
        color: #7D7D7D;
    }
  }

  .bestilling3{
    grid-column: 8 / 11;
    grid-row: 1;
    h5{
        color: #7D7D7D;
    }
  }

  .bestilling4{
    grid-column: 11 / 13;
    grid-row: 1;
    h5{
        color: #7D7D7D;
    }
    h4{
      color: red;
      cursor: pointer;
    }
  }
/*BLOCKS END*/


@media only screen and (max-width : 620px) {

    .admin2{
      grid-column: 1 / 13;
      grid-row: 2;
    }

    .admin3{
      grid-column: 1 / 13;
      grid-row: 3;
    }
  }