* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body {
  background-color: #EBEBEB;
}

header {
  background-color: black;
}

footer {
  background-color: white;
  color: #ADADAD;
}

footer li {
  display: inline-block;
}

footer li a {
  text-align: left;
  position: relative;
  padding: 0.5vw;
  cursor: pointer;
  color: #ADADAD;
}

footer h5 {
  font-size: 0.8em;
}

/*RIDIG GRID START*/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 80%;
  grid-gap: 5px;
  padding: 1vw;
}

.grid-container img {
  width: 100%;
}

@supports (display: grid) {
  .grid-container > * {
    width: auto;
    margin: 2px;
  }
}

/*RIDIG GRID END*/
/*FULL RIDIG GRID BEGIN*/
.grid-container-full {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin: 0;
  max-width: 100%;
  padding: 0;
  grid-auto-rows: minmax(50px, auto);
}

.grid-container-full img {
  width: 100%;
}

/*FULL RIDIG GRID END*/
/*FLUID GRID START*/
.fluid-grid {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: auto;
  margin: 0 auto 1vw auto;
  grid-gap: 25px;
  font-family: 'Rubik', sans-serif;
  padding: 1vw;
  text-decoration: none;
}

/*FLUID GRID END*/
/*BLOCKS START*/
.header0 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 1;
  grid-row: 1;
}

.header0 svg {
  overflow: visible;
  width: calc(130% - 130 *((100vw - 320px) / 680));
}

.header1 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  grid-column: 5 / 12;
  -ms-grid-row: 1;
  grid-row: 1;
}

.footer1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-top: 2vw;
  text-align: left;
}

.footer2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 1;
  grid-row: 1;
}

.footer3 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / 12;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-top: 2vw;
}

/*BLOCKS END*/
/*NAV BEGIN*/
.menu {
  display: block;
  width: 100%;
  line-height: 1.6em;
  font-weight: 300;
  font-size: calc(13px + 3  * ((100vw - 320px) / 680));
  text-align: right;
  position: relative;
  margin: auto;
}

.menu ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  text-align: right;
  width: 100%;
  position: relative;
}

.menu li {
  display: inline-block;
  margin: auto;
}

.menu li a {
  display: block;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
  padding: 30px 20px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  color: white;
}

.menu li a:hover {
  color: red;
}

/*Hide dropdown*/
.menu li ul {
  display: none;
}

/*Make dropdown links vertical*/
.menu li ul li {
  display: block;
  float: none;
}

/*Styling for 'show menu'*/
.menu .show-menu {
  text-decoration: none;
  color: #668A93;
  background: transparent;
  text-align: center;
  padding: 10px 15px;
  display: none;
  cursor: pointer;
}

/*Hide checkbox*/
.menu input[type=checkbox] {
  display: none;
}

/*Shows the menu when checkbox is checked*/
.menu input[type=checkbox]:checked ~ #menu {
  display: block;
}

/*MEDIA QUERY*/
@media screen and (max-width: 800px) {
  .menu .lines {
    border-bottom: 15px double white;
    border-top: 5px solid white;
    content: "";
    height: 5px;
    width: 20px;
    padding-right: 15px;
    float: right;
  }
  /*Display none on the dropdown links*/
  .menu ul {
    display: none;
  }
  /*Display show-menu class*/
  .menu .show-menu {
    display: block;
  }
  /*Make all menu links full width*/
  .menu ul li, .menu li a {
    width: 100%;
    padding: 10px 0;
  }
}

/*NAV END*/
/*SOCIAL MEDIA ICONS BEGIN*/
#social {
  margin: 20px 10px;
  text-align: center;
}

.social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0 5px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
}

.facebook-button {
  -webkit-transition: .2s;
  transition: .2s;
  background: #ADADAD;
}

.facebook-button:before {
  font-family: "FontAwesome";
  content: "\f09a";
}

.facebook-button:hover {
  color: #ADADAD;
  background: #fff;
}

.twitter-button {
  -webkit-transition: .2s;
  transition: .2s;
  background: #ADADAD;
}

.twitter-button:before {
  font-family: "FontAwesome";
  content: "\f099";
}

.twitter-button:hover {
  color: #ADADAD;
  background: #fff;
}

/*SOCIAL MEDIA ICONS END*/
/*# sourceMappingURL=main.css.map */