<% include ../partials/header %>    

<link rel="stylesheet" href="/assets/css/login.css">

<main>
    <div class="grid-container-full">
        <div class="login1">
            <img src="/images/slider1.jpg" alt="">
        </div>
    </div>
    <div class="grid-container">
        <div class="login2">
            <h5> <span class="sti"> Hotel Overlook > Login</span> </h5> <br>
            <h2>Login </h2>
        </div>
        <div class="login3">
          <h4> Problemer med login? </h4>
        </div>
    </div>

<div id="login"></div>

</main>

  <script src="/assets/js/login.js"></script>
    
<% include ../partials/footer %>